.button-large-rounded {
  background: #363D44;
  border-radius: 8px;
  color: #FFF;
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  padding: 15px 60px;
  text-decoration: none;
  text-transform: uppercase;
}
