.slider-wrapper {
  align-items: center;
  color: #CCC;
  display: flex;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 25px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background: #9B9B9B;
  border-radius: 9px;
  display: block;
  height: 19px;
  margin: 0 10px;
  padding: 0 3px;
  opacity: 0.8;
  outline: none;
  transition: opacity 0.2s linear;
  width: 100%;

  &:hover {
    opacity: 1;
  }
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 6px;
    cursor: pointer;
    height: 17px;
    width: 29px;
}


.slider-value {
  color: #027DB9;
  text-align: left;
}
